# to install : pip install -r requirements.txt

matplotlib
numpy
pandas
python-dotenv
ipykernel 
scipy
scikit-learn
flask
requests
category_encoders
seaborn
pyarrow
fastparquet
tensorflow
tensorflow-hub
tensorflow-datasets
pymongo
zstandard
holidays
keras
